.simplecrop-container img {
  position: absolute;
}

.simplecrop-constraint {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.simplecrop-constraint.landscape {
  cursor: ew-resize;
}

.simplecrop-constraint.portrait {
  cursor: ns-resize;
}
